# Firebase Configuration (StratIQ Web Application)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=ai-bussiness-consultant-9e923.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ai-bussiness-consultant-9e923
VITE_FIREBASE_STORAGE_BUCKET=ai-bussiness-consultant-9e923.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=284254553752
VITE_FIREBASE_APP_ID=1:284254553752:web:2a48dbd5e58919c5e3f2ed
VITE_FIREBASE_MEASUREMENT_ID=G-SN22Q315DX
VITE_FIREBASE_FIRESTORE_DATABASE_ID=(default)

# Analytics Configuration
VITE_GA_MEASUREMENT_ID=G-SN22Q315DX
